.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.messages {

}

.dialog:active, .dialog:focus {
    background: rgba(0,0,0,0.2);
}

.textArea {
    display: flex;
    width: 100%;
    grid-column: span 2;
}

.dialogTextButton {
    padding: 5px;
    height: 30px;
}

.dialogTextArea {
    height: 30px;
    width: 100%;
    resize: none;
}